* {
    font-family: 'Righteous', cursive;
}

.logo {
    font-size: 30px;
    margin-left: 10px;
}

.services-title,
.pets-title {
    text-align: center;
    margin-top: 50px;
    font-size: 45px;
}



.container {
    position: relative;
}

.doghouse {
    border-radius: 100px;
    margin: 40px;
}

.pawprint {
    border-radius: 100px;
    margin: 40px;

}

.dogfood {
    border-radius: 100px;
    margin: 40px;

}

.bird {
    border-radius: 100px;
    margin: 40px;

}

.hero-body {
    background-image: url(../images/basicsdogcatheader.jpg);
    background-repeat: no-repeat;
    background-size: 1500px 700px;
    background-position: center;
}

.column {
    text-align: center;
}

h1 {
    font-size: 30px;
}

.footer {
    margin-left: -50px;
    margin-right: -50px;
    padding-bottom: 50px;
}

.subscribe-btn {
    margin-top: 10px;
}

.cat-review {
    margin-top: 20px;
    margin-left: 170px;
    margin-bottom: 20px;
    position: relative;
}

.cat-review-body {
    
    background-color: papayawhip;
    box-sizing: content-box;  
  width: 20%;
  border-radius: 50%;
  height: 20%;
  padding: 3%;  
  position: absolute;
  left: 15%;
  bottom: 10%;
  text-align: center;
    
}

.name {
    text-align: center;
}

/* Login Section */

.hidden {
    display: none;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }

/* REVIEWS PAGE */

.leave-review {
    margin: 30px;
    text-align: left;
}

.leave-a-review {
    text-align: center;
}

.box {
    margin: 30px 10px;
}

.reviews {
    margin-top: 30px;
}

.dog-walking-img,
.kitten-img,
.bunny-img {
    border-radius: 125px;
    border: 15px solid lightgray;
}

.dog-walking-desc {
    background-color: lightgrey;
    
    
}
/* BECOME A PET SITTER PAGE */

.sitter-header {
    background-image: url(../images/doggies.jpg);
    background-repeat: no-repeat;
    background-size: 1500px 700px;
    background-position: center;
}

.sitter-title {
    text-align: center;
    margin-top: 20px;
}

.sitter-form {
    margin: 20px 400px 20px 400px;
    border: 15px solid lightgray;
    padding: 50px;
}

.catanddog {
    float: right;
    margin-top: -200px;
}