* {
    font-family: 'Righteous', cursive;
}

.logo {
    font-size: 30px;
    margin-left: 10px;
}

.services-title {
    text-align: center;
    margin-top: 20px;
    font-size: 45px;
}

.doghouse {
    border-radius: 100px;
    margin: 40px;
}

.pawprint {
    border-radius: 100px;
    margin: 40px;

}

.dogfood {
    border-radius: 100px;
    margin: 40px;

}

.bird {
    border-radius: 100px;
    margin: 40px;

}

.hero-body {
    background-image: url(../images/basicsdogcatheader.jpg);
    background-repeat: no-repeat;
    background-size: 1500px 700px;
    background-position: center;
}

.column {
    text-align: center;
}

h1 {
    font-size: 30px;
}