<h2> Reviews</h2>

 <h1 class="reviews">Reviews</h1>
          <div class="box" {{#each Reviews}}>
            <article class="media">
              <div class="media-left">
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{review_name}}</strong> <small>{{review_email}}</small> <small>{{review_rating}}</small>
                    <br>
                    {{review_txt}}
                  </p>
                </div>

                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </div>




