<h2> Sitters</h2>

 <h1 class="reviews">Sitters</h1>
          <div class="box" {{#each Sitters}}>
            <article class="media">
              <div class="media-left">
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{sitter_name}}</strong> <small>{{sitter_email}}</small> <small>{{sitter_location}}</small>
                    <br>
                    {{sitter_bio}}
                  </p>
                </div>

                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </div>
